<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <style>
        button{
            width: 200px;
            height: 100px;
        }
    </style>
</head>
<body>
{include file="common/banner"}
<a href="/index/index/stationList"><button>岗位列表</button></a>
<a href="/index/index/createTemplate"><button>模板生成</button></a>
<a href="/index/index/estimateResultList"><button>评估结果列表</button></a>
<a href="/index/index/statisticsResultList"><button>评估结果统计列表</button></a>
</body>
</html>