<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>岗位添加</title>
    <style>
        table {
            border: 1px;
            border-color: black;
            margin: auto;
            border-collapse: collapse;
        }

        td {
            border: 1px solid black;
        }
    </style>
</head>
<body>
{include file="common/banner"}
<form action="stationAdd" method="post">
    <table>
        <tr>
            <td>岗位名:</td>
            <td><input type="text" name="station_name"></td>
        </tr>
        <tr>
            <td colspan="2">
                <div style="text-align: center" >
                    <button type="submit" style="width: 100%">提交</button>
                </div>
            </td>
        </tr>


    </table>

</form>
</body>

</html>